.venv/
__pycache__/
.DS_Store
old-template/graphs/*
!old-template/graphs/.gitkeep
final-submission/digitdata/*
!final-submission/digitdata/.gitkeep
final-submission/facedata/*
!final-submission/facedata/.gitkeep